<div class="title p-12">
  <div class="flex items-center">
    <img
      class="object-content h-36"
      src="./assets/images/rssu-logo.png"
      alt=""
    />
    <span class="text-center font-bold text-xl"
      >Федеральное государственное бюджетное образовательное учреждение высшего
      образования</span
    >
  </div>

  <div class="text-center mt-8 font-bold text-xl">
    <span>«Российский Государственный Социальный Университет» </span>
  </div>

  <div class="text-center text-xl mt-24">
    <span>Колледж РГСУ</span>

    <br />

    <span>Специальность – Информационные системы (по отраслям)</span>

    <br />

    <span>{{ firstName }}</span>

    <br />

    <span>
      по дисциплине:
      <span class="font-bold">«{{ discipline }}»</span>
    </span>
  </div>

  <div class="text-center font-bold text-xl my-12">
    <span>«{{secondName}}»</span>
  </div>

  <div class="flex flex-col text-xl mt-24">
    <div class="ml-auto w-2/5">
      <span class="font-bold">Выполнил:</span> <br />
      <span>студент 1 курса</span> <br />
      <span>группы ИН-К-0-Д-2020-2-11</span> <br />
      <span>Чайковский Н. О. </span>
    </div>

    <div class="mt-12 ml-auto w-2/5">
      <span class="font-bold">Проверил:</span> <br />
      <span>преподаватель</span> <br />
      <span>{{ teacher }}</span>
    </div>
  </div>

  <div class="flex justify-center text-xl mt-32">
    <span>Москва 2021</span>
  </div>
</div>
